<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoリスト</title>
  </head>

  <body>
    <h1>リスト画面</h1>
    <p>あなたのToDoが表示されます</p>
    <h2>ToDo</h2>
    <table border="1">
        <tr>
            <th>ToDo</th>
            <th>done</th>
            <th>コマンド</th>
        </tr>
        <tr th:each="m: ${mid_ToDos}">
            <td>[[${m.title}]]</td>
            <td>[[${m.done}]]</td>
            <td><a th:href=@{/todo/{m}/{s}(m=${m.mid},s=${m.seq})}>完了</a></td>
        </tr>
    </table>
    <h1>ToDoを登録する</h1>
    <p>内容を入力してください</p>
    <form
      role="form"
      th:action="@{/todo/__${mid}__/register}"
      th:object="${ToDoForm}"
      method="post"
    >
      <table>
        <tr>
          <td><label>内容: </label></td>
          <td><input type="text" required th:field="*{title}" /></td>
        </tr>
      </table>
      <p><input type="submit" value="登録する" /></p>
    </form>
  </body>
</html>
